[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.0"
pandas = "*"
numpy = "==2.1.0"
pyarrow = "*"
prefect = "==3.4.5"
async-timeout = "*"
tomli = "*"

[dev-packages]

[requires]
python_version = "3.10.13"
